{% extends “layouts/main.html” %}
{% block body %}
<div>
    <h3>Artists</h3>
    <table>
        <thead>
            <th>ArtistID</th>
            <th>Name</th>
            <th>Phone Number</th>
        </thead>
        <tbody>
        {% for r in artist %}
        <tr>
            <td> {{ r.0 }}</td>
            <td> {{ r.1 }}</td>
            <td> {{ r.2 }}</td>
            <td> <input type='button' name='Update' value='Update' onclick="window.location = '/update-artist/{{r[0]}}'"> </td>
            <td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/delete-artist/{{r[0]}}'"> </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}