{% extends “layouts/main.html” %}

{% block title %}
<title><h3>Home</h3></title>
{% endblock %}

{% block body %}
<div id="menu">
    <li><a href="/add-employee/" ><h3>Employees</h3></a></li>
    <li><a href="/add-artist/"><h3>Artists</h3></a></li>
    <li><a href="/add-fan"><h3>Fans</h3></a></li>
</div>
{% endblock %}



