{% extends “layouts/main.html” %}
{% block body %}
<div>
    <h3>Update employee info</h3>
    <form id="update_employee" action="/update-employee/{{" method="post">

    </form>
</div>

<div>
    <h3>Update artist info</h3>
    <form id="update_employee" action="/update-employee/" method="post">
        
    </form>
</div>

<div>
    <h3>Update fan info</h3>
    <form action="update_employee" action="/update-employee" method="post">
        
    </form>
</div>
{% endblock %}