{% extends “layouts/main.html” %}
{% block body %}
<h3>Change fan phone number:</h3>
<form id="update-fan" action="/update-fan/{{result[0]}}" method="post">
  <label for="phonenumber">New phone number</label>
  <input type="text" name="phonenumber"> </br>
  <input type="submit" value="Submit">
 </form>
<br/>
{% endblock %}