{% extends “layouts/main.html” %}
{% block body %}
<h3>Change artist phone number:</h3>
<form id="update-artist" action="/update-artist/{{result[0]}}" method="post">
  <label for="phonenumber">New phone number</label>
  <input type="text" name="phonenumber"> </br>
  <input type="submit" value="Submit">
 </form>
<br/>
{% endblock %}