{% extends “layouts/main.html” %}
{% block body %}
<h3>Change employee info:</h3>
<form id="update-employee" action="/update-employee/{{result[0]}}" method="post">

  <label for type="firstname">{{ result[1] }}></label> </br>
  <label for type="lastname">{{ result[2] }}</label> </br>
  <label for type="role">Role</label>
  <input type="text" name="role"> </br>
  <label for type="text">Email</label> 
  <input type="text" name="email"> <br>
  <label for type="text" name="phonenumber">Phone Number</label> 
  <input type="text" name="phonenumber"> </br>
  <input type="submit" value="Submit">
 </form>
<br/>

{% endblock %}