{% extends “layouts/main.html” %}
{% block body %}
<h3>Change artist bio:</h3>
<form id="update-artist" action="/update-artist/{{result[0]}}" method="post">
  <label for="bio">New bio</label>
  <input type="text" name="bio"> </br>
  <input type="submit" value="Submit">
 </form>
<br/>
{% endblock %}
