<!-- index.hbs -->

<html>

<head>
  <title>Clearwater Arena</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="divstyle">
    <a href="artists"><h1>Artists</h1></a>
    <ul>
        <li>Add an artist</li>
        <li>Update an artist's values</li>
    </ul>
    <a href="concerts"><h1>Concerts</h1></a>
    <ul>
        <li>Add a new concert</li>
        <li>Add an employee to a concert</li>
        <li>Remove an employee from a concert</li>
    </ul>
    <a href="tickets"><h1>Tickets</h1></a>
    <ul>
        <li>Create a new ticket</li>
    </ul>
    <a href="employees"><h1>Employees</h1></a>
    <ul>
        <li>Add an employee</li>
    </ul>
    <a href="fans"><h1>Fans</h1></a>
    <ul>
        <li>Add a fan</li>
    </ul>
    <a href="categories"><h1>Ticket Categories</h1></a>
    <ul>
        <li>Add a ticket category</li>
    </ul>
  </div>
</body>

</html>